@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.woff2') format('woff2'),
        url('Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-Regular.woff2') format('woff2'),
        url('Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Light.woff2') format('woff2'),
        url('CormorantGaramond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

#photo {
  background-image: url(img/macarrao.jpg);
  background-size: cover;  
  background-position: center;
  width: 48vw;                   
  height: 100vh; 
}

body {
    margin: 0;
    display: flex;
    gap: 50px;
}
