@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.woff2') format('woff2'),
        url('Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-Regular.woff2') format('woff2'),
        url('Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Light.woff2') format('woff2'),
        url('CormorantGaramond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

#photo {
  background-image: url(img/macarrao.jpg);
  background-size: cover;  
  background-position: center;
  width: 33vw;                   
  height: 100vh; 
  position: relative;
}

body {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

#logo img {
    width: 3vw;
    height: auto;
}

#odin {
    color: white;
    font-weight: 5;
    font-size: 13px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 10px;
    background-color: rgba(7, 7, 7, 0.1); 
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 10%;
    padding: 3px;
}

#right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.bottom-form {
    width: 100%;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.3);
    height: 30%;
}

#inputs {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
}
#register {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.top-form h3, .top-form > h1 {
    width: 80%;
}

#left-inputs > div, #right-inputs div{
    display: flex;
    flex-direction: column;
}

form h2, .top-form > h1, #inputs, .top-form h3, .top-form h4, #bottom-form{
    padding-left: 44px;
}

button[type="submit"] {
    margin-top: 15px;
}

h1, h2, h3, h4, label, button, p, input {
  font-family: "Poppins", sans-serif, 'Cinzel', 'Lora', 'Cormorant Garamond', "Playfair Display", "Georgia", "Times New Roman", serif;
  font-weight: 300; /* deixa mais fino */
}

#right-inputs div, #left-inputs div {
    padding-bottom: 4px;
}

#right-inputs, #left-inputs {
    margin-bottom: 18px;
}

div label {
    font-size:1rem;
}

/* inputs validation */
input {
    width: 104%;
    border: 2px solid #E5E7EB;
}

input:user-invalid {
  border: 2px solid rgba(194, 36, 36, 0.986);
}


/*Selected input*/
input:focus {
    outline: none;
    border: 2px solid var(--green);
    box-shadow: 0 4px 6px -1px rgba (0,0,0,0.1);
}

input:hover,button:hover {
    box-shadow: 0 -3px 10px rgba(0,0,0,0.15);
}

/* button */
:root {
    --green: #596D48;
}

button {
    font-weight: 420;
    color: white;
    padding: 10px 40px;
    border-radius: 6px;
    border: #596D48;
    background-color: var(--green);
}

#bottom-form a {
    font-weight: 500;
    color: var(--green);
}

#bottom-form p {
    font-weight: 399;
}

h1 {
    font-weight: 500;
}

label {
    font-size: x-small;
}